<%- include('partials/header'); %>
<%- include('partials/homenavbar'); %>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2> <%= article.title %> </h2>
            </div>
            <div class="card-body">
                <%- article.body %> <!--Exibir a variável com a HTML: aqui eu uso o sinal de menos pra que a exibição do texto seja certa com a formatação-->
            </div>
        </div>
        <br>
    </div>
</body>
<%- include('partials/footer'); %>